---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    <h2>International Journal</h2>
    {% for publi in site.data.international-journal %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}-ij"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}-ij" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}

    <h2>Domestic Journal</h2>
    {% for publi in site.data.domestic-journal %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}-dj"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}-dj" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}

    <h2>International Conference</h2>
    {% for publi in site.data.international-conference %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}-ic"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}-ic" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}

    <h2>Domestic Conference</h2>
    {% for publi in site.data.domestic-conference %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}-dc"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}-dc" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}

    <h2>PUBLICATIONS IN BOOK</h2>
    {% for publi in site.data.books %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}-b"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}-b" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
