<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="../images/logo/lab-logo.png"
				     style="max-width: 100px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://sejong.korea.ac.kr/kr">고려대학교 세종캠퍼스</a></li>
					<li><a href="https://graduate.korea.ac.kr/main/main.html">고려대학교 세종캠퍼스 일반대학원</a></li>
					<li><a href="">응용통계학과</a></li>
					<li><a href="http://economics.korea.ac.kr/">경제통계학과</a></li>
					<li><a href="https://github.com/MLBA-Lab">MLBA Lab. Github</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p>세종특별자치시 세종로 2511 고려대학교 세종캠퍼스 공공정책관 123호</p>
				<p>Big Data Science, College of Public Policy, Korea University, 2511 Sejong-ro, Sejong, 30019, South Korea.</p>
				<p>Tel. 044-860-1550</p>
				<p>Email. jooalim@korea.ac.kr</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright, 2022</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
