---
layout: default
---

<div class="col-sm-12">
    <div class=row>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/researches">Researches</a></li>
            <!-- <li class="breadcrumb-item text-capitalize"><a href="/researches#{{ page.category }}">{{ page.category }}</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
        </nav>
    </div>
    <div class="row text-center">
        <!-- Avatar -->
        {% if page.image %}
        <img src="{{ site.url }}{{ site.baseurl }}/images/researches/{{ page.image }}"
             class="img-circle"
             style="max-width: 200px;"/>
        {% endif %}

        <!-- Name & Role -->
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
    </div>

    <!-- Bio -->
    <div class="row">
        {{ content }}
    </div>
</div>
